# Godot 4+ specific ignores
.godot/
/android/
Assets/SplashScreen.psd
Assets/sounds/Action_Arrosoir/Action_Arrosoir.sesx
Assets/sounds/Action_Arrosoir/Backup/Action_Arrosoir_20260531T103902.392849.sesx
Assets/sounds/Action_Arrosoir/Backup/Action_Arrosoir_20260531T104202.912462.sesx
Assets/sounds/Action_Arrosoir/Backup/Action_Arrosoir_20260531T104502.932266.sesx
Assets/sounds/Action_Fauchage/Action_Fauchage.sesx
Assets/sounds/Action_Fauchage/Backup/Action_Fauchage_20260531T103923.461470.sesx
Assets/sounds/Action_Fauchage/Backup/Action_Fauchage_20260531T104330.660308.sesx
Assets/sounds/Action_Fauchage/Backup/Action_Fauchage_20260531T104630.671606.sesx
Assets/sounds/Action_Fauchage/Backup/Action_Fauchage_20260531T104931.195972.sesx
Assets/sounds/Action_Fauchage/Conformed Files/FEETHmn_Pas dans les feuilles (ID 0137)_LaSonotheque.fr 48000 1.pkf
Assets/sounds/Action_Fauchage/Conformed Files/FEETHmn_Pas dans les feuilles (ID 0137)_LaSonotheque.fr 48000 1.wav
Assets/sounds/Action_Loupe/Action_Loupe.sesx
Assets/sounds/Action_Loupe/Backup/Action_Loupe_20260531T103911.092354.sesx
Assets/sounds/Action_Loupe/Backup/Action_Loupe_20260531T104927.790877.sesx
Assets/sounds/Tool_Select/Backup/Tool_Select_20260531T103303.546958.sesx
Assets/sounds/Tool_Select/Backup/Tool_Select_20260531T103605.086106.sesx
Assets/sounds/Tool_Select/Backup/Tool_Select_20260531T103905.102332.sesx
Assets/sounds/Tool_Select/Conformed Files/TOOLHand_Clou et marteau 1 (ID 0005)_LaSonotheque.fr 48000 1.pkf
Assets/sounds/Tool_Select/Conformed Files/TOOLHand_Clou et marteau 1 (ID 0005)_LaSonotheque.fr 48000 1.wav
Assets/sounds/Tool_Select/Tool_Select.sesx
Assets/sounds/Action_Loupe/Backup/Action_Loupe_20260531T105227.803109.sesx
Assets/sounds/Action_Loupe/Backup/Action_Loupe_20260531T105907.756305.sesx
Assets/sounds/Action_Loupe/Backup/Action_Loupe_20260531T110207.773591.sesx
Assets/sounds/Action_Loupe/Conformed Files/WATRSpray_Vaporisateur (ID 0044)_LaSonotheque.fr 48000 1.wav
Assets/sounds/Ambiance/Ambiance.sesx
Assets/sounds/Ambiance/Backup/Ambiance_20260531T110235.801990.sesx
